@import url('./modules/inter/font/inter.css');
@media only screen and (max-width: 768px) {
    #personalinfo,
    .navbar-item {
        text-align: center;
    }
}

* {
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:none;
}

.main {
    background-color: antiquewhite;
}

#aboutme {
    height:100%;
}

nav {
    margin-top: 10px;
    margin-right: 24px;
    margin-left: 24px;
}

#intro {
    margin: 10rem 0rem;
}

#aboutmeintro {
    margin: 5rem 5rem;
}
.container-sm {
    background-color: white;
    height: 100vh;
}

#profileimage img {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 25px -6px #c4c0c0;
    box-shadow: 0px 0px 25px -6px #c4c0c0;
}

#aboutmeprofileimage img {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 25px -6px #c4c0c0;
    box-shadow: 0px 0px 25px -6px #c4c0c0;
}

#skillsimage {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.github-widget {
    margin: 10px 0px;
}

.is-divider {
    margin-right: 50px;
}

#title {
    margin: 20px 10px;
}

.strong {
    font-weight: bold;
}

.lighter {
    font-weight: 500;
}

.repositories {
    margin: 0px 10px;
}

.footer {
    padding: 20px;
}

.qoutes {
    text-align: center;
    margin: 10rem 0rem;
}

.gw-repo {
    border-top: 0px;
    border-style: none;
}

.navbar-end {
    background-color: #f7f7f7; 
    border-radius: 10px;
}